{% extends 'universe/base.html' %}
{% load static %}

{% block title %}Home - Heroes Of The Universe{% endblock %}

{% block content %}
<div class="characters-container">
    {% for character in characters %}
    <div class="character-box">
        <div class="user-name">
            <p>{{ character.user.username }}</p>
        </div>
        <div class="character-image">
            <img src="{% static 'images/' %}{{ character.class_image }}.png" alt="{{ character.name }} image">
        </div>
        <div class="character-name">
            <h3>{{ character.name }}</h3>
        </div>
        <div class="actions">
            <button class="like-button"><i class="fa-regular fa-thumbs-up"></i></button>
            <button class="comment-button"><i class="fa-regular fa-comment-dots"></i>Add Comment...</button>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}