{% extends 'universe/base.html' %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        
        {% for field in form %}
            <div>
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% for error in field.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}
        
        <button type="submit">Save Character</button>
    </form>
{% endblock %}