{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Heroes of the Universe, the social platform for players of TTRPGs to build and share their marvelous characters.">
    <meta name="keywords"
        content="ttrpg, tabletop roleplaying game, dungeons & dragons, dnd, social, platform, heroes of the universe, character creation, 
            roleplaying, rpg characters, rpg community, share characters, build characters, roleplay tools, gaming platform">
    <meta name="author" content="Heroes of the Universe">
    <title>Heroes Of The Universe</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Macondo&display=swap" rel="stylesheet">
    <!-- Link to CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body class="landing-page">
    <div>
        <button id="title-button" onclick="showButtons()">Heroes Of The Universe</button>
        <div id="hidden-buttons">
            <button class="hidden-button" onclick="window.location.href='/home'">Home</button>
            <button class="hidden-button" onclick="window.location.href='/universe/register/'">Register / Log
                In</button>
        </div>
    </div>

    <!-- Link to Javascript -->
    {% block scripts %}
    <script src="{% static 'js/scripts.js' %}" defer></script>
    {% endblock %}
</body>

</html>