<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heroes Of The Universe</title>
</head>
<body>
    <div>
        <button id="title-button" onclick="showButtons()">Heroes Of The Universe</button>
        <div id="hidden-buttons">
            <button class="hidden-button" onclick="window.location.href='/home'">Home</button>
            <button class="hidden-button" onclick="window.location.href='/register'">Register / Log In</button>
        </div>
    </div>
</body>
</html>