{% extends 'universe/base.html' %}

{% block title %}Register - Heroes Of The Universe{% endblock %}

{% block content %}
<div id="main-container">
    <h1 id="title">Register / Log In</h1>
    <p id="description">
        Fill out the following form to register your account and start sharing your best characters with other
        adventurers.
        Or, if you already have an account, just log in using your credentials!
    </p>

    <div id="form-container">
        <!-- Registration Form -->
        <div id="register-section">
            <h2>Register</h2>
            <form class="registration-form" method="POST" action="">
                {% csrf_token %}
                {{ register_form.as_p }}
                <button type="submit" class="registration-button" name="register">Register</button>
            </form>
        </div>

        <!-- Login Form -->
        <div id="login-section">
            <h2>Log In</h2>
            <form class="registration-form" method="POST" action="">
                {% csrf_token %}
                {{ login_form.as_p }}
                <button type="submit" class="registration-button" name="login">Log In</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}